*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  padding: 2vw;
}

a {
  color: inherit;
  text-decoration: none;
}

.piano-roll-visualizer::-webkit-scrollbar {
  background: white;
  border-radius: 10px;
}

.piano-roll-visualizer::-webkit-scrollbar-thumb {
  background: #ccc;
  border: 4px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}

.piano-roll-visualizer::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  border: 4px solid transparent;
  border-radius: 150px;
  background-clip: content-box;
}

section midi-player {
  display: block;
  width: inherit;
}

section midi-player::part(control-panel) {
  background: white;
  border-radius: 10px 10px 0 0;
}

section midi-player::part(play-button) {
  color: #353;
  background-color: #eee;
  border-radius: 20px;
  transition: all 0.2s;
}

section midi-player::part(play-button):hover {
  transform: scale(1.2);
}

section midi-player::part(time) {
  font-family: 'Inter', system-ui, sans-serif;
}

/* Custom visualizer style */
section midi-visualizer .piano-roll-visualizer {
  border-radius: 0 0 10px 10px;
  margin: 4px;
  margin-top: 0;
  overflow: auto;
}
section midi-visualizer svg rect.note {
  opacity: 0.6;
  stroke-width: 2;
}
section midi-visualizer svg rect.note[data-instrument="0"]{
  fill: #e22;
  stroke: #500;
}
section midi-visualizer svg rect.note[data-instrument="2"]{
  fill: #2ee;
  stroke: #055;
}
section midi-visualizer svg rect.note[data-is-drum="true"]{
  fill: #888;
  stroke: #888;
}
section midi-visualizer svg rect.note.active {
  opacity: 0.9;
  stroke: #000;
}